name: Build and Deloy Code

on: [push, pull_request]

jobs:
  # build job run in one runner
  build:
    environment:
      name: Testing
    env: 
      DATABASE_USERNAME: ${{secrets.DATABASE_USERNAME}}
      DATABASE_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
      DATABASE_HOSTNAME: ${{secrets.DATABASE_HOSTNAME}}
      DATABASE_PORT: ${{secrets.DATABASE_PORT}}
      DATABASE_NAME: ${{secrets.DATABASE_NAME}}
      SECRET_KEY: ${{secrets.SECRET_KEY}}
      ALGORITHM: ${{secrets.ALGORITHM}}
      ACCESS_TOKEN_EXPIRE_MIMUTES: ${{secrets.ACCESS_TOKEN_EXPIRE_MIMUTES}}

    # must be linux env for container service
    runs-on: ubuntu-latest

    # services containers to run with job1
    services:
      # label to access the service container
      postgres:
        # docker hub image
        image: postgres
        # postword and dbname
        env:
          POSTGRES_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
          POSTGRES_DB: ${{secrets.DATABASE_NAME}}_test
        # job run runner machine, so need map
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: pulling git repo
        uses: actions/checkout@v3
      - name: install python verison 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install all dependences
        run: pip install -r requirements.txt
      - name: test with pytest
        run: |
          pip install pytest
          pytest -v 
      
      # docker image creation
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/myfastapi:ci-cd
  
  # deploy job run another runner
  deploy:
    runs-on: ubuntu-latest
    # wait build job done
    needs: [build]
    environment:
      # separate enironment
      name: production
    steps:
      # as in separate runner, need to pull in git repo
      - name: pulling in git repo
        uses: actions/checkout@v3
      - name: deploy to ubuntu server
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.PROD_HOST}}
          username: ${{secrets.PROD_USERNAME}}
          password: ${{secrets.PROD_PASSWORD}}
        # multiple command, use "|"
        # sudo terminal requires to read password, you can
        # use -S to read from standard input
        # or configure askpass
        script: |
          cd app/src
          git pull
          echo ${{secrets.PROD_PASSWORD}} | sudo -S systemctl restart fastapi 